.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100px;
  
  span {
    font-size: .75rem;
    flex: 1;
    text-align: center;
  }

  svg {
    cursor: pointer;
  }
}