.container {
  position: fixed;
  bottom: 0;

  background-color:  var(--purple-500);
  width: 100%;
  height: 75px;

  color: #fff;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 1.3rem;
}